.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  color: azure;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  margin: 1em;
  user-select: none;
 }

 .activeCard {
  color: white;
  background: rgb(66, 28, 66);
  box-shadow: 0 4px 8px 0 rgba(245, 158, 233, 0.2)
 } 